.vertical-slider {
    border-radius: 4px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.site-news-item {
    clear: both;
    position: relative;

    &:not(:last-of-type) {
        min-height: 85px;
        margin-bottom: $gap;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            width: calc(100% - 85px);
            height: 1px;
            background-color: $color-gray;
        }
    }

    &:hover,
    &:focus {
        .site-news-item__image {
            border-color: $color-accent;
            background-color: $color-accent;
        }

        a {
            color: $color-accent;
        }
    }

    &__image {
        width: 75px;
        float: left;
        transition: background-color 0.5s;
        margin: 0 10px 10px 0;

        img {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 10px;

        @include block-shortener (1rem, 1.5, 45px, 2);

        a {
            transition: color 0.5s;
        }
    }

    &__date {
        text-align: right;
        color: darken($color-gray, 30px);
        font-size: 0.8rem;
    }
}

.films-rating {
    .panel-body {
      padding-right: 0;
      padding-left: 0;
    }
  
    .list-group {
      margin-bottom: 0;
    }
  
    .badge {
      position: absolute;
      top: 12px;
      right: 10px;
    }
  
    .list-group-item {
      position: relative;
  
      padding: 0;
  
      border-top: 1px solid $color-gray;
      border-right: none;
      border-left: none;
      background-color: transparent;
  
      a {
        display: block;
  
        padding: 10px 15px 10px 25px;
      }
  
      &:first-child {
        border-top: none;
        border-radius: 0;
      }
  
      &:last-child {
        border-bottom: none;
        border-radius: 0;
      }
  
      &:hover,
      &:focus {
        background-color: $color-accent;
  
        a {
          color: $color-light;
        }
  
        .badge {
          background-color: $color-dark;
        }
      }
    }
  }